version: '3.8'

services:

  app:
    build: .
    container_name: technician-companion
    restart: always
    depends_on:
      - mysql
    ports:
      - "8080:8080"


  mysql:
    image: mysql:8.0
    container_name: mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234567890
      MYSQL_DATABASE: technician_companion
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql



volumes:
  mysql_data:


